body {
    background: rgb(37, 230, 62);
    font-family: 'Exo 2', sans-serif;
  } 

  h1 {
    border-style: solid;
    border-color: rgb(8, 8, 133);
    width: fit-content;
  }

 
  
 h3{color:firebrick}

  html{
    margin: 25px 200px 75px 100px;
  }

  h1{padding: 70px;}

  .link{
      color: black;
      padding: 20px;
    }

    .img{
        padding-top: 20px;
    }

